body {
    font-family: sans-serif;
    margin: 0;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
  /*  justify-content: space-between;*/
    background-color: #B6EAEE;
    /* background-color:black; */
}

#logo {
    /* padding-right: 50px; */
    font-weight: bold;
    font-size: 150%;
    margin: auto 5px;
    color: #227C7B;
    -webkit-text-stroke: black 0.5px;
}

#runBtn {
    /* margin-left: 20%; */
    /* background-color: #EBF3FF; */
    border: #EBF3FF 3px solid;
    margin: 8px auto 8px 400px;
    color: #227C7B;
    /* margin: 10px 10px 10px 0px; */
    background-color: white;
    border-radius: 15px;
    /* padding: 50px; */
    /* margin-left:50px; */
}

#btnContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #B6EAEE;
    justify-content: center;
    margin-right: 35%;
    padding: 10px;
}

.toggle-btn {
    border: white 1px solid;
    color: #227C7B;
    padding: 5px;

}

.toggle-btn:hover {
    background-color: #EBF3FF;
}
/*Added later on..*/
/******************************/
.dark
{
  display: inline-block;
  font-weight: bold;
  font-size: 100%;
  margin: auto 5px;
  color: #227C7B;
  -webkit-text-stroke: black 0.5px;
}
.myChange
{
  display: inline-block;
  vertical-align: baseline;
  margin: auto ;
}
/******************************/
#html{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#output{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active {
    background-color: black;
}

#bodyContainer {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.panel {
    display: none;
}

textarea {
    height: 100vh;
    width: 100vw;
    resize: none;
    background-color: rgb(251, 253, 255);
    border: none;
    border-right: 1px solid #227C7B;

}

iframe {
    height: 100vh;
    width: 100vh;
    border: none;
}


hr {
    background-color: #227C7B;
}

/* Added later on..*/
/**************************************/
.dark-mode-panel
{
  background-color: #282828;
}
.text-colors
{
  color:white;
}
.place-color {
    color:#FFFFFF;
}
/**************************************/
