body {
  font-family: sans-serif;
  margin: 0;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  background-color: #b6eaee;
  /* background-color:black; */
}

#logo {
  /* padding-right: 50px; */
  font-weight: bold;
  font-size: 150%;
  margin: auto 5px;
  color: #227c7b;
  -webkit-text-stroke: black 0.5px;
}

#runBtn {
  /* margin-left: 20%; */
  /* background-color: #EBF3FF; */
  border: #ebf3ff 3px solid;
  margin: 8px auto 8px 400px;
  color: #227c7b;
  /* margin: 10px 10px 10px 0px; */
  background-color: white;
  border-radius: 15px;
  /* padding: 50px; */
  /* margin-left:50px; */
}

#btnContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #b6eaee;
  justify-content: center;
  margin-right: 35%;
  padding: 10px;
}

.toggle-btn {
  border: white 1px solid;
  color: #227c7b;
  padding: 5px;
}

.toggle-btn:hover {
  background-color: #ebf3ff;
}

#html {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#output {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.active {
  background-color: black;
}

#bodyContainer {
  display: flex;
  flex-direction: row;
  height: 500px;
}

.panel {
  display: none;
}

textarea {
  height: 100vh;
  width: 100vw;
  resize: none;
  background-color: rgb(251, 253, 255);
  border: none;
  border-right: 1px solid #227c7b;
}

iframe {
  height: 100vh;
  width: 100vh;
  border: none;
}

hr {
  background-color: #227c7b;
}

@media (max-width: 940px) {
  #header {
    flex-direction: column;
  }

  #runBtn {
    margin: auto;
  }

  #btnContainer {
    width: 0;
    margin: auto;
  }

  #bodyContainer {
    flex-direction: column;
  }

  textarea {
    min-height: 50vh;
    border-bottom: 1px solid #227c7b;
    border-right: none;
  }

  iframe {
    width: 100%;
    overflow: scroll;
  }
}
